@font-face {
    font-family: RedHatText;
    src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf);
}

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);

    --body-font: 16px;

    font-family: RedHatText;
    --regular-font-weight: 400;
    --product-font-weight: 600;
    --strong-font-weight: 700;
}

* {
    box-sizing: border-box;
}


body {
    font-weight: 400;
    background: var(--rose50);
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@media (min-width: 320px) {
    
    .container {
        max-width: 320px;
    }

    h1 {
        font-weight: var(--strong-font-weight);
        font-size: 3rem;
        margin: .7rem;
    }
    
    .img-container img {
        max-width: 100%; 
        border-radius: .5rem;
        height: auto;
    }
    
    .product-card-container span {
        color: var(--red);
        font-weight: var(--strong-font-weight);
    }
    
    .product-details {
        margin-top: calc(26.625px + 1.5rem);
        margin-bottom: 1.5rem;
    }

    .product-details h3 {
        font-size: var(--body-font);
        margin: 0 0 .3rem 0;
    }
    
    .product-details p{
        margin: 0 0 .3rem 0;
    }
    
    .cart-details {
        background: white;
        padding: 1.5rem;
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cart-details h2 {
        color: var(--red);
        align-self: flex-start;
    }
    
    .cart-details p {
        font-weight: var(--product-font-weight);
        color: var(--rose500);
    }
    
    .empty-cart-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .img-container{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: .5rem;
        max-width: 100%;
    }
    
    .active-btn {
        background: var(--red);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 2rem;
        width: 165.97px;
        align-self: center;
        display: none;
        position: absolute;
        bottom: -28px;
    }
    
    .active-btn span {
        color: white;
        font-weight: var(--regular-font-weight);
    }
    
    .active-btn button {
        background: none;
        color: white;
        border: 1px solid white;
        border-radius: 100%;
        padding: .3rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .active-btn button:hover {
        background: white;
        
    }
    
    .active-btn button:hover #svg-btn {
        fill: var(--red);
    }
    
    .img-container:hover {
        border: 2px solid var(--red);
        
    }
    
    .add-to-cart {
        display: flex;
        background: white;
        color: black;
        padding: .3rem 2rem;
        width: fit-content;
        border-radius: 3rem;
        align-self: center;
        border: 1px solid var(--rose500);
        cursor: pointer;
        position: absolute;
        bottom: -26.625px;
        font-family: RedHatText;
        font-weight: var(--strong-font-weight);
    }
    
    .add-to-cart svg {
        align-self: center;
        margin-right: .4rem;
        
    }
    
    .add-to-cart:hover {
        color: var(--red);
        border: 1px solid var(--red);
        transition: 200ms ease-in-out;
    }
    
    .order-details-container {
        align-self: flex-start;
        width: 100%;
        display: none;
    }
    
    .order-details {
       
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .order-details svg {
        align-self: center;
    }
    
    .order-specifics {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--rose100);
    }
    
    .remove-btn {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        border: 1px solid var(--rose300);
        padding: 1px;
        align-self: center;
        cursor: pointer;
        background: none;
    }
    
    .remove-btn:hover {
        border: 1px solid var(--rose900);
        
    }
    
    .remove-btn:hover #remove-btn {
        fill: var(--rose900);
    }
    
    .order-specifics-card {
        display: flex;
        flex-direction: column;
        padding: .7rem 0;
    }
    
    .order-specifics-card  p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .item-specifics {
        display: flex;
        margin-top: .5rem;
        font-weight: var(--product-font-weight);
        
    }
    
    .item-specifics-item {
        margin-right: .6rem;
        font-family: RedHatText;
        font-size: 1.2rem;
    }
    
    #item-total-price {
        align-self: center;
        color: var(--rose400);
        font-weight: var(--strong-font-weight);
    }
    
    .item-specifics > span {
        font-weight: var(--strong-font-weight);
        color: var(--red);
    }
    
    .item-specifics p {
        font-weight: var(--product-font-weight);
        color: var(--rose400);
    
    }
    
    #item-name {
        font-weight: var(--strong-font-weight);
        font-size: 1.2rem;
    }
    
    #item-price {
        margin-left: .2rem;
    }
    
    .carbon-neutral {
        display: flex;
        background: var(--rose100);
        border-radius: .5rem;
        padding: .6rem;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .carbon-neutral svg {
        align-self: center;
        margin-right: .5rem;
    }
    
    .carbon-neutral span {
        font-weight: var(--strong-font-weight);
    }
    
    .order-total-card, .confirmation-total-card {
        display: flex;
        justify-content: space-between;
    }
    
    .order-total-span {
        align-self: center;
        font-size: 1.5rem;
        font-weight: var(--strong-font-weight);
    }
    
    .order-total-card p, .confirmation-total-card p {
        font-size: 1.25rem;
        font-weight: var(--product-font-weight);
        color: var(--rose400);
    }
    
    .confirmation-total-card {
        background: var(--rose50);
        padding: 1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .confirm-order {
        background: var(--red);
        width: 100%;
        color: white;
        border: none;
        padding: 1rem;
        border-radius: 3rem;
        font-size: 1rem;
        font-family: RedHatText;
        font-weight: var(--product-font-weight);
        margin-top: 1.5rem;
        cursor: pointer;
    }
    
    .confirm-order:hover {
        background: hsl(13, 68%, 27%);
    }
    
    .confirmation-card {
        z-index: 10;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 90%;
        width: 100%;
        transform: translateY(100%);
        padding: 1.6rem 1rem;
        overflow: scroll;
    }
    
    
    .confirmation-card svg {   
        min-height: 62.4px;
    }
    
    .confirmation-card h1, .confirmation-card > p {
        margin: 0;
        
    }
    
    .confirmation-card h1 {
        font-size: 2rem;
    }
    
    .confirmation-card > p {
        margin-bottom: 1.2rem;
        font-family: RedHatText;
        font-weight: var(--product-font-weight);
        font-size: .8rem;
        color: var(--rose300);
    }
    
    .confirmation-card img {
        max-width: 3.5rem;
        max-height: 3.5rem;
        margin-right: .5rem;
    }

    .confirmation-card-details {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0 .8rem;
        background: var(--rose50);
    }

    .confirmation-card-specifics > div > p {
        font-weight: var(--strong-font-weight);
        font-size: .9rem;
    }

    .confirmation-card.active {
        transform: translateY(0);
        transition: 200ms ease-in-out;
    }
    
    
    #overlay {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    #overlay.active {
        pointer-events: all;
        opacity: 1;
    }
    
    .confirmation-card-specifics {
        display: flex;
        padding: .7rem 0;
        justify-content: space-between;
        border-bottom: 1px solid var(--rose100);
    }
    
    .confirmation-card-specifics img {
        width: 5rem;
        height: 5rem;
        align-self: center;
        border-radius: 5px;
    }
    
    .confirmation-card-specifics > div {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
    }
    
    .confirmation-card-specifics div > p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
    }
    
    .confirmation-card-specifics > p {
        align-self: center;
        font-size: 1rem;
        font-weight: var(--strong-font-weight);
        margin: 0;
    }

    #confirmation-specifics {
        font-weight: var(--strong-font-weight);
        margin-top: .3rem;
        display: flex;
        flex-direction: row;
    }
    
    #confirmation-specifics > span {
        align-self: center;
        margin-right: .7rem;
        color: var(--red);
        font-size: 1rem;
    }
    
    #confirmation-specifics p {
        color: var(--rose300);
        font-weight: var(--product-font-weight);
        font-size: 1rem;
        align-self: center;
    }
    
}

@media (min-width: 390px) {
    .container {
        max-width: 390px;
    }
}

@media (min-width: 500px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .product-card {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }

    .header {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 2.5rem;
        justify-items: center;
    }

    h1{
        margin-top: 0;
        font-size: 2rem;
    }

    .product-card {
        width: 70%;
    }

    .img-container {
        max-width: 100%;
    }
    .cart-details{
        height: fit-content;
        max-width: fit-content;
        
    }

    .cart-details::-webkit-scrollbar {
        display: none;
    }

    .product-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content;
        gap: 1rem;
    }

    .confirmation-card {
        z-index: 10;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        max-height: 60%;
        transform: translate(-50%, -50%);
        scale: 0;
        padding: 2rem;
        overflow: scroll;
    }

    .confirmation-card.active {
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 15px;
        width: 40%;
        transform: translate(-50%, -50%);
        scale: 1;
        transition: 200ms ease-in-out;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .confirmation-card::-webkit-scrollbar {
        display: none;
    }

    .confirmation-card-specifics {
        justify-content: space-between;
    }

    .confirmation-card-specifics div {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
    }

    .confirmation-card-specifics > div > p {
        font-size: 1.1rem;
    }

    #confirmation-specifics > span {
        font-size: 1rem;
    }

    .confirmation-card-specifics > p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}